In [3]:
from collections import defaultdict
from collections import Counter

import glob
import pandas as pd

histories = defaultdict(Counter)

for fpath in glob.glob('../data/treino/*.csv'):
    df_list = pd.read_csv(fpath)
    for _, row in df_list.iterrows():
        user = row['userId']
        hist = row['history']
        hist = (hist.
                replace('\n', ' ').
                replace("'", ' ').
                replace("[", ' ').
                replace("]", ' ').
                strip().split()
        )
        histories[user].update(hist)

In [4]:
df_list.head()

,userId,userType,historySize,history,timestampHistory,numberOfClicksHistory,timeOnPageHistory,scrollPercentageHistory,pageVisitsCountHistory,timestampHistory_new
0,f98d1132f60d46883ce49583257104d15ce723b3bbda21...,Non-Logged,3,"c8aab885-433d-4e46-8066-479f40ba7fb2, 68d2039c...","1657146417045, 1657146605778, 1657146698738","76, 38, 41","20380, 21184, 35438","50.3, 18.18, 16.46","2, 1, 1","1657146417045, 1657146605778, 1657146698738"
1,2c1080975e257ed630e26679edbe4d5c850c65f3e09f65...,Non-Logged,60,"3325b5a1-979a-4cb3-82b6-63905c9edbe8, fe856057...","1656684240278, 1656761266729, 1656761528085, 1...","7, 80, 2, 1, 7, 62, 26, 44, 4, 4, 14, 45, 13, ...","6049, 210489, 8672, 10000, 30000, 123007, 9965...","25.35, 45.66, 35.3, 28.05, 36.53, 47.57, 55.33...","1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1...","1656684240278, 1656761266729, 1656761528085, 1..."
2,0adffd7450d3b9840d8c6215f0569ad942e782fb19b805...,Logged,107,"04756569-593e-4133-a95a-83d35d43dbbd, 29b6b142...","1656678946256, 1656701076495, 1656701882565, 1...","0, 0, 0, 0, 0, 44, 0, 0, 2, 1, 0, 0, 0, 44, 0,...","311274, 140000, 32515, 157018, 118689, 159243,...","67.58, 47.22, 41.52, 63.09, 51.38, 65.11, 71.9...","1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1...","1656678946256, 1656701076495, 1656701882565, 1..."
3,c1e8d644329a78ea1f994292db624c57980b2886cfbc2d...,Non-Logged,56,"1f2b9c2f-a2d2-4192-b009-09065da8ec23, 04756569...","1658333312180, 1658404553818, 1658408449062, 1...","8, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 2, 0, 1, 1...","182696, 91925, 30000, 273655, 126409, 42980, 1...","58.26, 72.66, 22.57, 59.89, 40.36, 36.35, 14.7...","1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1...","1658333312180, 1658404553818, 1658408449062, 1..."
4,e777d1f31d4d955b63d60acc13df336d3903f52ab8f8f4...,Non-Logged,4,"bebdeb3e-1699-43e0-a1b8-989f5a6ab679, f4b484a7...","1658766608801, 1658766608801, 1660084035094, 1...","579, 579, 7, 2","801396, 801396, 10000, 10000","78.74, 78.74, 16.71, 9.34","7, 7, 1, 1","1658766608801, 1658766608801, 1660084035094, 1..."

In [5]:
import pandas as pd
import glob

# Get a list of all CSV files in a directory
csv_files = glob.glob('../data/itens/*.csv')

# Create an empty dataframe to store the combined data
combined_df = pd.DataFrame()

# Loop through each CSV file and append its contents to the combined dataframe
for csv_file in csv_files:
    df = pd.read_csv(csv_file)
    combined_df = pd.concat([combined_df, df])

# Print the combined dataframe
combined_df.head()

,page,url,issued,modified,title,body,caption
0,13db0ab1-eea2-4603-84c4-f40a876c7400,http://g1.globo.com/am/amazonas/noticia/2022/0...,2022-06-18 20:37:45+00:00,2023-04-15 00:02:08+00:00,Caso Bruno e Dom: 3º suspeito tem prisão tempo...,"Após audiência de custódia, a Justiça do Amazo...",Jeferson da Silva Lima foi escoltado por agent...
1,92907b73-5cd3-4184-8d8c-e206aed2bf1c,http://g1.globo.com/pa/santarem-regiao/noticia...,2019-06-20 17:19:52+00:00,2023-06-16 20:19:15+00:00,Linguajar dos santarenos é diferenciado e chei...,Vista aérea de Santarém\nÁdrio Denner/ AD Prod...,As expressões santarenas não significam apenas...
2,61e07f64-cddf-46f2-b50c-ea0a39c22050,http://g1.globo.com/mundo/noticia/2022/07/08/e...,2022-07-08 08:55:52+00:00,2023-04-15 04:25:39+00:00,Ex-premiê Shinzo Abe morre após ser baleado no...,Novo vídeo mostra que assassino de Shinzo Abe ...,Ex-primeiro-ministro foi atingido por tiros de...
3,30e2e6c5-554a-48ed-a35f-6c6691c8ac9b,http://g1.globo.com/politica/noticia/2021/09/0...,2021-09-09 19:06:46+00:00,2023-06-07 17:44:54+00:00,"Relator no STF, Fachin vota contra marco tempo...","Relator no STF, Fachin vota contra marco tempo...",Ministro defendeu que posse indígena é diferen...
4,9dff71eb-b681-40c7-ac8d-68017ac36675,http://g1.globo.com/politica/noticia/2021/09/1...,2021-09-15 19:16:13+00:00,2023-06-07 17:43:39+00:00,"\nApós 2 votos, pedido de vista suspende julga...",Após um pedido de vista (mais tempo para análi...,"Pelo marco temporal, índios só podem reivindic..."

In [6]:
# Faz um explode para a lista virar uma coluna nova
# Trata a string antes
order = (df_list['history'].
 str.replace('\n', ' ').
 str.replace("'", ' ').
 str.replace("[", ' ').
 str.replace("]", ' ').
 str.replace(",", ' ').
 str.strip().
 str.split().
 explode()
)

# Cola o userId do df no explodido
aux = pd.merge(
    df_list['userId'], order,
    left_index=True, right_index=True
)

In [7]:
aux.head(10)

,userId,history
0,f98d1132f60d46883ce49583257104d15ce723b3bbda21...,c8aab885-433d-4e46-8066-479f40ba7fb2
0,f98d1132f60d46883ce49583257104d15ce723b3bbda21...,68d2039c-c9aa-456c-ac33-9b2e8677fba7
0,f98d1132f60d46883ce49583257104d15ce723b3bbda21...,13e423ce-1d69-4c78-bc18-e8c8f7271964
1,2c1080975e257ed630e26679edbe4d5c850c65f3e09f65...,3325b5a1-979a-4cb3-82b6-63905c9edbe8
1,2c1080975e257ed630e26679edbe4d5c850c65f3e09f65...,fe856057-f97d-419f-ab1c-97c5c3e0719c
1,2c1080975e257ed630e26679edbe4d5c850c65f3e09f65...,d1da8d3f-bf30-4776-8d75-5f4e24cc134e
1,2c1080975e257ed630e26679edbe4d5c850c65f3e09f65...,8d7b7c79-4a54-4d5f-8d02-36805d60c498
1,2c1080975e257ed630e26679edbe4d5c850c65f3e09f65...,982578ac-ce37-4330-aec8-b44843e79f67
1,2c1080975e257ed630e26679edbe4d5c850c65f3e09f65...,083220a2-455c-4b64-b47a-807af2d6f00a
1,2c1080975e257ed630e26679edbe4d5c850c65f3e09f65...,e752d7a2-d87b-4894-8c91-9743cc644b77

In [8]:
# Faz um explode para a lista virar uma coluna nova
# Trata a string antes
order_2 = (df_list['numberOfClicksHistory'].
 str.replace('\n', ' ').
 str.replace("'", ' ').
 str.replace("[", ' ').
 str.replace("]", ' ').
 str.replace(",", ' ').
 str.strip().
 str.split().
 explode()
)

# Cola o userId do df no explodido
aux_2 = pd.merge(
    df_list['userId'], order_2,
    left_index=True, right_index=True
)

In [9]:
aux_2 = aux_2.drop(columns=['userId'])

In [10]:
aux_2.head(10)

  numberOfClicksHistory
0                    76
0                    38
0                    41
1                     7
1                    80
1                     2
1                     1
1                     7
1                    62
1                    26

In [11]:
# Faz um explode para a lista virar uma coluna nova
# Trata a string antes
order_3 = (df_list['timeOnPageHistory'].
 str.replace('\n', ' ').
 str.replace("'", ' ').
 str.replace("[", ' ').
 str.replace("]", ' ').
 str.replace(",", ' ').
 str.strip().
 str.split().
 explode()
)

# Cola o userId do df no explodido
aux_3 = pd.merge(
    df_list['userId'], order_3,
    left_index=True, right_index=True
)

In [12]:
aux_3 = aux_3.drop(columns=['userId'])

In [13]:
aux_3.head()

  timeOnPageHistory
0             20380
0             21184
0             35438
1              6049
1            210489

In [14]:
# Faz um explode para a lista virar uma coluna nova
# Trata a string antes
order_4 = (df_list['scrollPercentageHistory'].
 str.replace('\n', ' ').
 str.replace("'", ' ').
 str.replace("[", ' ').
 str.replace("]", ' ').
 str.replace(",", ' ').
 str.strip().
 str.split().
 explode()
)

# Cola o userId do df no explodido
aux_4 = pd.merge(
    df_list['userId'], order_4,
    left_index=True, right_index=True
)

In [15]:
aux_4 = aux_4.drop(columns=['userId'])

In [16]:
aux_4.head()

  scrollPercentageHistory
0                    50.3
0                   18.18
0                   16.46
1                   25.35
1                   45.66

In [17]:
# Faz um explode para a lista virar uma coluna nova
# Trata a string antes
order_5 = (df_list['pageVisitsCountHistory'].
 str.replace('\n', ' ').
 str.replace("'", ' ').
 str.replace("[", ' ').
 str.replace("]", ' ').
 str.replace(",", ' ').
 str.strip().
 str.split().
 explode()
)

# Cola o userId do df no explodido
aux_5 = pd.merge(
    df_list['userId'], order_5,
    left_index=True, right_index=True
)

In [18]:
aux_5 = aux_5.drop(columns=['userId'])

In [19]:
aux_5.head()

  pageVisitsCountHistory
0                      2
0                      1
0                      1
1                      1
1                      1

In [20]:
df_list_new = pd.concat([aux, aux_2, aux_3, aux_4, aux_5], axis=1)

In [21]:
df_list_new.head()

,userId,history,numberOfClicksHistory,timeOnPageHistory,scrollPercentageHistory,pageVisitsCountHistory
0,f98d1132f60d46883ce49583257104d15ce723b3bbda21...,c8aab885-433d-4e46-8066-479f40ba7fb2,76,20380,50.3,2
0,f98d1132f60d46883ce49583257104d15ce723b3bbda21...,68d2039c-c9aa-456c-ac33-9b2e8677fba7,38,21184,18.18,1
0,f98d1132f60d46883ce49583257104d15ce723b3bbda21...,13e423ce-1d69-4c78-bc18-e8c8f7271964,41,35438,16.46,1
1,2c1080975e257ed630e26679edbe4d5c850c65f3e09f65...,3325b5a1-979a-4cb3-82b6-63905c9edbe8,7,6049,25.35,1
1,2c1080975e257ed630e26679edbe4d5c850c65f3e09f65...,fe856057-f97d-419f-ab1c-97c5c3e0719c,80,210489,45.66,1

In [22]:
df_list_new = df_list_new.rename_axis('index1').reset_index()

In [23]:
df_list_new.head(200)

,index1,userId,history,numberOfClicksHistory,timeOnPageHistory,scrollPercentageHistory,pageVisitsCountHistory
0,0,f98d1132f60d46883ce49583257104d15ce723b3bbda21...,c8aab885-433d-4e46-8066-479f40ba7fb2,76,20380,50.3,2
1,0,f98d1132f60d46883ce49583257104d15ce723b3bbda21...,68d2039c-c9aa-456c-ac33-9b2e8677fba7,38,21184,18.18,1
2,0,f98d1132f60d46883ce49583257104d15ce723b3bbda21...,13e423ce-1d69-4c78-bc18-e8c8f7271964,41,35438,16.46,1
3,1,2c1080975e257ed630e26679edbe4d5c850c65f3e09f65...,3325b5a1-979a-4cb3-82b6-63905c9edbe8,7,6049,25.35,1
4,1,2c1080975e257ed630e26679edbe4d5c850c65f3e09f65...,fe856057-f97d-419f-ab1c-97c5c3e0719c,80,210489,45.66,1
...,...,...,...,...,...,...,...
195,3,c1e8d644329a78ea1f994292db624c57980b2886cfbc2d...,e6574d0d-a7c2-4830-a544-7497929d044b,0,50000,60.74,1
196,3,c1e8d644329a78ea1f994292db624c57980b2886cfbc2d...,e4dbb7c9-fd80-4da8-b4f4-6d144442a2af,0,90000,12.38,1
197,3,c1e8d644329a78ea1f994292db624c57980b2886cfbc2d...,1d22f204-4cea-4b1d-95da-f6fbe57cd622,0,50000,46.99,1
198,3,c1e8d644329a78ea1f994292db624c57980b2886cfbc2d...,8c828218-85b4-4df3-a8e5-c0274eb897dc,0,30750,18.23,1
199,3,c1e8d644329a78ea1f994292db624c57980b2886cfbc2d...,2463b085-fab1-4d06-b557-614e28ba71fc,0,100000,13.68,1

In [24]:
# When column names are different
#df_final=pd.merge(df_list_new,combined_df, left_on='history', right_on='page', how='left')

In [25]:
#df_final.head()

In [26]:
df_cleaned = df_list_new.drop(columns=['userId'])

In [27]:
df_cleaned = df_cleaned.rename(columns={"index1": "userId"})

In [28]:
df_cleaned['numberOfClicksHistory'] = df_cleaned['numberOfClicksHistory'].astype('int64')
df_cleaned['timeOnPageHistory'] = df_cleaned['timeOnPageHistory'].astype('int64')
df_cleaned['scrollPercentageHistory'] = df_cleaned['scrollPercentageHistory'].astype('float32')
df_cleaned['pageVisitsCountHistory'] = df_cleaned['pageVisitsCountHistory'].astype('int64')

In [29]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1426291 entries, 0 to 1426290
Data columns (total 6 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   userId                   1426291 non-null  int64
 1   history                  1426291 non-null  object
 2   numberOfClicksHistory    1426291 non-null  int64
 3   timeOnPageHistory        1426291 non-null  int64
 4   scrollPercentageHistory  1426291 non-null  float32
 5   pageVisitsCountHistory   1426291 non-null  int64
dtypes: float32(1), int64(4), object(1)
memory usage: 59.8+ MB

In [30]:
df_cleaned.head(100)

,userId,history,numberOfClicksHistory,timeOnPageHistory,scrollPercentageHistory,pageVisitsCountHistory
0,0,c8aab885-433d-4e46-8066-479f40ba7fb2,76,20380,50.299999,2
1,0,68d2039c-c9aa-456c-ac33-9b2e8677fba7,38,21184,18.180000,1
2,0,13e423ce-1d69-4c78-bc18-e8c8f7271964,41,35438,16.459999,1
3,1,3325b5a1-979a-4cb3-82b6-63905c9edbe8,7,6049,25.350000,1
4,1,fe856057-f97d-419f-ab1c-97c5c3e0719c,80,210489,45.660000,1
...,...,...,...,...,...,...
95,2,1fd81f89-cca7-4122-8749-db21b14c25b1,0,37029,34.650002,1
96,2,8f28e4d1-c4ab-4ce6-8acf-27726b061aa3,0,176579,50.119999,1
97,2,f774e860-8103-49bf-b04e-63b316735e4b,1,194895,66.180000,1
98,2,8453fa5b-0fc4-489e-8045-896a428bf080,0,137789,52.029999,1
99,2,7fcf82cf-6a19-4e1f-a054-d5356546bf31,1,142951,51.869999,1

In [31]:
df_cleaned.isnull().sum()

userId                     0
history                    0
numberOfClicksHistory      0
timeOnPageHistory          0
scrollPercentageHistory    0
pageVisitsCountHistory     0
dtype: int64

In [41]:
df_cleaned.to_csv('training_data.csv')

In [42]:
combined_df.to_csv('noticias.csv')