In [33]:
from utils.custom_treat_data_funcs import read_all_csvs_into_pandas

In [34]:
FPATH_TRAIN = '../data/train_reduced/*.csv'
df_train = read_all_csvs_into_pandas(FPATH_TRAIN)

In [35]:
df_train.describe()

       historySize
count  5000.000000
mean     16.154600
std      47.054015
min       1.000000
25%       1.000000
50%       2.000000
75%       8.000000
max    1234.000000

In [36]:
FPATH_ITEMS = '../data/items_reduced/*.csv'
df_items = read_all_csvs_into_pandas(FPATH_ITEMS)

In [37]:
df_items.describe()

,page,url,issued,modified,title,body,caption
count,13809,13809,13809,13809,13809,13809,13809
unique,13809,13809,13805,13803,13804,13809,13723
top,505ad718-bb1a-4cbf-a020-d5f7a4ab335f,http://g1.globo.com/rn/rio-grande-do-norte/not...,2018-10-08 20:30:23+00:00,2021-01-01 04:43:29+00:00,"Empresas abrem vagas de emprego, estágio e tra...","Isolda do Nascimento, de 56 anos, foi encontra...",Veja como obter informações das empresas citad...
freq,1,1,2,2,2,1,11

In [38]:
cols_to_explode = ["history", "numberOfClicksHistory", "timeOnPageHistory", "scrollPercentageHistory", "pageVisitsCountHistory"]
# cols_to_explode = ["history"]
cols_and_id = cols_to_explode.copy()
cols_and_id.insert(0,"userId")
cols_and_id.append("userType")
cols_and_id = tuple(cols_and_id)
print(cols_and_id)
print(cols_to_explode)

('userId', 'history', 'numberOfClicksHistory', 'timeOnPageHistory', 'scrollPercentageHistory', 'pageVisitsCountHistory', 'userType')
['history', 'numberOfClicksHistory', 'timeOnPageHistory', 'scrollPercentageHistory', 'pageVisitsCountHistory']

In [39]:
df_train.loc[:,cols_and_id]

,userId,history,numberOfClicksHistory,timeOnPageHistory,scrollPercentageHistory,pageVisitsCountHistory,userType
0,f98d1132f60d46883ce49583257104d15ce723b3bbda21...,"c8aab885-433d-4e46-8066-479f40ba7fb2, 68d2039c...","76, 38, 41","20380, 21184, 35438","50.3, 18.18, 16.46","2, 1, 1",Non-Logged
1,2c1080975e257ed630e26679edbe4d5c850c65f3e09f65...,"3325b5a1-979a-4cb3-82b6-63905c9edbe8, fe856057...","7, 80, 2, 1, 7, 62, 26, 44, 4, 4, 14, 45, 13, ...","6049, 210489, 8672, 10000, 30000, 123007, 9965...","25.35, 45.66, 35.3, 28.05, 36.53, 47.57, 55.33...","1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1...",Non-Logged
2,0adffd7450d3b9840d8c6215f0569ad942e782fb19b805...,"04756569-593e-4133-a95a-83d35d43dbbd, 29b6b142...","0, 0, 0, 0, 0, 44, 0, 0, 2, 1, 0, 0, 0, 44, 0,...","311274, 140000, 32515, 157018, 118689, 159243,...","67.58, 47.22, 41.52, 63.09, 51.38, 65.11, 71.9...","1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1...",Logged
3,c1e8d644329a78ea1f994292db624c57980b2886cfbc2d...,"1f2b9c2f-a2d2-4192-b009-09065da8ec23, 04756569...","8, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 2, 0, 1, 1...","182696, 91925, 30000, 273655, 126409, 42980, 1...","58.26, 72.66, 22.57, 59.89, 40.36, 36.35, 14.7...","1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1...",Non-Logged
4,e777d1f31d4d955b63d60acc13df336d3903f52ab8f8f4...,"bebdeb3e-1699-43e0-a1b8-989f5a6ab679, f4b484a7...","579, 579, 7, 2","801396, 801396, 10000, 10000","78.74, 78.74, 16.71, 9.34","7, 7, 1, 1",Non-Logged
...,...,...,...,...,...,...,...
4995,ef6d1c554d532055a3581683a2ef1793d8b9afe12d491a...,"dc14cc4e-f054-469e-ba6c-28b4a461d375, d23d9595...","8, 3, 2, 0","100000, 85748, 50000, 54525","32.56, 60.48, 34.54, 31.31","1, 1, 1, 2",Non-Logged
4996,0f38e78e40d82b8a6ccd7ffb3bafb68c04d60c3713153d...,"8bd7286f-6f86-41a1-834e-129816cc4f76, 1c4faf15...","0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...","40000, 40000, 40000, 37062, 57692, 40000, 4000...","12.5, 12.5, 12.5, 12.5, 12.5, 12.5, 12.5, 12.5...","1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1...",Non-Logged
4997,a9d6ded5f32f2f26f2d5543748331b635fad8fd02dcba8...,"4c518543-123c-491d-8c80-6baeaaa4bc9d, d13bca57...","4, 0","711706, 18288","33.77, 51.89","6, 1",Non-Logged
4998,ce03fb5bde8ee1cb858af26d24ff16e0835c8e41864793...,"68bc8994-ebef-4e48-8478-e7fe1619ae58, 0868f21b...","1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 3, 2, 0, 2, 0...","36721, 30000, 60000, 95356, 11339, 89554, 1984...","26.95, 19.54, 36.99, 73.02, 26.05, 39.76, 62.7...","2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1...",Non-Logged
4999,7ad3fb36b07b9c7917684d285c98927df58df37e8c261e...,"68bcd037-cf0e-4a5f-899b-79d97ce2827a, 49aab1e9...","0, 0, 0, 0, 3, 5, 3, 3, 2, 27, 3, 3, 0, 3, 0, ...","10000, 60000, 210000, 30000, 100000, 154697, 2...","5.07, 59.34, 61.49, 25.02, 18.19, 55.52, 57.22...","1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1...",Logged

In [40]:
from utils.custom_treat_data_funcs import explode_columns

exploded_df = explode_columns(df_train.loc[:,cols_and_id], cols_to_explode)

In [42]:
exploded_df

,userId,history,numberOfClicksHistory,timeOnPageHistory,scrollPercentageHistory,pageVisitsCountHistory,userType
0,f98d1132f60d46883ce49583257104d15ce723b3bbda21...,c8aab885-433d-4e46-8066-479f40ba7fb2,76,20380,50.3,2,Non-Logged
1,f98d1132f60d46883ce49583257104d15ce723b3bbda21...,68d2039c-c9aa-456c-ac33-9b2e8677fba7,38,21184,18.18,1,Non-Logged
2,f98d1132f60d46883ce49583257104d15ce723b3bbda21...,13e423ce-1d69-4c78-bc18-e8c8f7271964,41,35438,16.46,1,Non-Logged
3,2c1080975e257ed630e26679edbe4d5c850c65f3e09f65...,3325b5a1-979a-4cb3-82b6-63905c9edbe8,7,6049,25.35,1,Non-Logged
4,2c1080975e257ed630e26679edbe4d5c850c65f3e09f65...,fe856057-f97d-419f-ab1c-97c5c3e0719c,80,210489,45.66,1,Non-Logged
...,...,...,...,...,...,...,...
80768,7ad3fb36b07b9c7917684d285c98927df58df37e8c261e...,37e3a0d8-833b-4f13-bcd0-7192e808a05b,2,58040,66.89,1,Logged
80769,7ad3fb36b07b9c7917684d285c98927df58df37e8c261e...,c9d431cc-a473-46e5-8f27-da1bcc3fcc4f,0,71459,23.26,2,Logged
80770,7ad3fb36b07b9c7917684d285c98927df58df37e8c261e...,97ac6c4c-5b3d-4e36-9816-0791226573e5,8,174807,23.24,2,Logged
80771,7ad3fb36b07b9c7917684d285c98927df58df37e8c261e...,ed2b2eea-e01b-48d7-8064-4a92bc5e21aa,0,90000,58.76,1,Logged
80772,7ad3fb36b07b9c7917684d285c98927df58df37e8c261e...,ece7f38e-1744-4885-83d9-2ffb89e40b11,0,20000,16.05,1,Logged

In [43]:
exploded_df.describe()

,userId,history,numberOfClicksHistory,timeOnPageHistory,scrollPercentageHistory,pageVisitsCountHistory,userType
count,80773,80773,80773,80773,80773,80773,80773
unique,5000,20209,289,45208,9447,40,2
top,6f44cb1f4060e9d54aadcec8b52c6d7b2cd1a2e25d1e5e...,d2593c3d-2347-40d9-948c-b6065e8459a9,0,10000,12.5,1,Non-Logged
freq,1234,244,31926,4446,1822,73852,45293

In [44]:
from utils.custom_treat_data_funcs import check_df_size

check_df_size(df_train, exploded_df)

True

In [45]:
exploded_df['numberOfClicksHistory'] = exploded_df['numberOfClicksHistory'].astype('int32')
exploded_df['timeOnPageHistory'] = exploded_df['timeOnPageHistory'].astype('int64')
exploded_df['scrollPercentageHistory'] = exploded_df['scrollPercentageHistory'].astype('float32')
exploded_df['pageVisitsCountHistory'] = exploded_df['pageVisitsCountHistory'].astype('int32')

In [46]:
exploded_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80773 entries, 0 to 80772
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   userId                   80773 non-null  object
 1   history                  80773 non-null  object
 2   numberOfClicksHistory    80773 non-null  int32
 3   timeOnPageHistory        80773 non-null  int64
 4   scrollPercentageHistory  80773 non-null  float32
 5   pageVisitsCountHistory   80773 non-null  int32
 6   userType                 80773 non-null  object
dtypes: float32(1), int32(2), int64(1), object(3)
memory usage: 3.4+ MB

In [47]:
exploded_df.isnull().sum()

userId                     0
history                    0
numberOfClicksHistory      0
timeOnPageHistory          0
scrollPercentageHistory    0
pageVisitsCountHistory     0
userType                   0
dtype: int64

In [48]:
exploded_df.userId.nunique()

5000

In [49]:
exploded_df.history.nunique()

20209

In [50]:
exploded_df["history"].value_counts().head(100)

history
d2593c3d-2347-40d9-948c-b6065e8459a9    244
f6b5d170-48b9-4f8e-88d4-c84b6668f3bd    213
6a83890a-d9e9-4f6b-a6c6-90d031785bbf    201
1f32787b-de2b-49be-8c20-ddaeae34cc22    186
bf257382-74fb-4392-ad6a-143240e39f81    175
                                       ...
91dd61bf-7c49-4276-bba6-1db2804921a9     78
106e6c31-5aa8-4d21-8d76-2fd90d35dba1     78
ca35decb-6955-44b5-b2fa-eb4529c3cb5c     78
d57f0e9a-445b-465d-b757-be4f32e75fb9     78
57615619-0c1d-41fb-8640-ccec5b3add58     78
Name: count, Length: 100, dtype: int64

In [51]:
exploded_df.head()

,userId,history,numberOfClicksHistory,timeOnPageHistory,scrollPercentageHistory,pageVisitsCountHistory,userType
0,f98d1132f60d46883ce49583257104d15ce723b3bbda21...,c8aab885-433d-4e46-8066-479f40ba7fb2,76,20380,50.299999,2,Non-Logged
1,f98d1132f60d46883ce49583257104d15ce723b3bbda21...,68d2039c-c9aa-456c-ac33-9b2e8677fba7,38,21184,18.180000,1,Non-Logged
2,f98d1132f60d46883ce49583257104d15ce723b3bbda21...,13e423ce-1d69-4c78-bc18-e8c8f7271964,41,35438,16.459999,1,Non-Logged
3,2c1080975e257ed630e26679edbe4d5c850c65f3e09f65...,3325b5a1-979a-4cb3-82b6-63905c9edbe8,7,6049,25.350000,1,Non-Logged
4,2c1080975e257ed630e26679edbe4d5c850c65f3e09f65...,fe856057-f97d-419f-ab1c-97c5c3e0719c,80,210489,45.660000,1,Non-Logged

In [52]:
exploded_df.shape

(80773, 7)

In [53]:
exploded_df.to_csv('../data/training_data_new.csv')