In [5]:
import pandas as pd

CSV_OLD = "../data/training_data_old.csv"
CSV_NEW = "../data/training_data_new.csv"

In [6]:
df_old = pd.read_csv(CSV_OLD)
df_new = pd.read_csv(CSV_NEW)

In [7]:
df_old.describe()

         Unnamed: 0  ...  pageVisitsCountHistory
count  80773.000000  ...            80773.000000
mean   40386.000000  ...                1.145185
std    23317.300984  ...                1.206979
min        0.000000  ...                1.000000
25%    20193.000000  ...                1.000000
50%    40386.000000  ...                1.000000
75%    60579.000000  ...                1.000000
max    80772.000000  ...              206.000000

[8 rows x 5 columns]

In [8]:
df_new.describe()

         Unnamed: 0  ...  pageVisitsCountHistory
count  80773.000000  ...            80773.000000
mean   40386.000000  ...                1.145185
std    23317.300984  ...                1.206979
min        0.000000  ...                1.000000
25%    20193.000000  ...                1.000000
50%    40386.000000  ...                1.000000
75%    60579.000000  ...                1.000000
max    80772.000000  ...              206.000000

[8 rows x 5 columns]